*

h1 {
    color: pink;
    -webkit-text-stroke: 1px rgb(94, 85, 85);
    width: auto;
    text-align: center;
    font-family: unset;
    font-size: 40px;
    
}


nav{
    text-align: center;

    ul li {
        background-color: pink;
        padding: 10px 20px;
        display: inline;
        justify-content: center; 
    }
    
    li {

    &:hover {
        background-color: white;
        
    }
}
    
}

main{ 
    width: 100%;
    height: 150vh;
    background-color: rgb(252, 252, 252);

    article {
        text-align: center;
        font-family: unset;

        h2{
            background-color: pink;
            
        }

        p{
            background-color: rgb(240, 208, 213);
            width: 800px;
            margin: auto;
            
        }
    }
    
}

footer {
    text-align: center;
}






